{{- /*gotype:pbench/cmd/genddl.Schema*/ -}}
{{- range .Tables }}
{{- if .Partitioned -}}
aws s3 cp --recursive s3://presto-workload-v2/{{ $.PartIcebergName }}/{{ .Name }}/data/{{ .LastColumn.Name }}=__HIVE_DEFAULT_PARTITION__/ s3://presto-workload-v2/{{ $.PartIcebergName }}/{{ .Name }}/data/{{ .LastColumn.Name }}=null/
{{ end -}}
{{ end -}}
