{{- /*gotype:pbench/cmd/genddl.Schema*/ -}}
{{ range $key, $value := .SessionVariables -}}
SET SESSION {{ $key }}='{{ $value }}';
{{ end }}

{{- if .TargetSchema }}
{{- /* ENHANCED_INGESTION MODE */ -}}
{{- if .TargetCatalog }}
USE {{ .TargetCatalog }}.{{ .TargetSchema }};
{{- else }}
{{- if .Iceberg }}
USE iceberg.{{ .TargetSchema }};
{{- else }}
USE hive.{{ .TargetSchema }};
{{- end }}
{{- end }}

{{ range .InsertTables -}}
{{- if $.TargetCatalog }}
INSERT INTO {{ $.TargetCatalog }}.{{ $.TargetSchema }}.{{ .Name }}
{{- else }}
INSERT INTO {{ .Name }}
{{- end }}
SELECT
{{- $first := true }}
{{- range .Columns }}
  {{- if $first }}
  {{- $first = false }}
  {{- else }},
  {{- end }}
  {{- if eq $.SourceFileFormat "CSV" }}
    {{- if .IsVarchar }}
  NULLIF({{ .Name }}, '') AS {{ .Name }}
    {{- else }}
  CAST(NULLIF({{ .Name }}, '') AS {{ .Type }}) AS {{ .Name }}
    {{- end }}
  {{- else }}
    {{- if .IsVarchar }}
  {{ .Name }}
    {{- else }}
  CAST({{ .Name }} AS {{ .Type }}) AS {{ .Name }}
    {{- end }}
  {{- end }}
{{- end }}
FROM {{ if $.SourceCatalog }}{{ $.SourceCatalog }}.{{ $.SourceSchema }}.{{ .Name }}{{ else }}hive.{{ $.SourceSchema }}.{{ .Name }}{{ end }};

{{ end }}
{{- else }}
{{- /* LEGACY MODE (old workflow) */ -}}
{{- if .Iceberg }}
USE iceberg.{{ .SchemaName }};
{{- else }}
USE hive.{{ .SchemaName }};
{{- end }}

{{ range .InsertTables -}}
INSERT INTO {{ .Name }}
{{- if eq $.CompressionMethod "uncompressed" }}
SELECT {{- $first := true }}
{{- range .Columns }}
    {{- if $first }}
        {{- $first = false }}
    {{- else -}}
        ,
    {{- end }}
    {{- if .IsVarchar }}
    trim(cast({{ .Name }} as {{ .Type }}))
    {{- else }}
    cast({{ .Name }} as {{ .Type }})
    {{- end }}
{{- end }}
FROM {{ $.Workload }}.sf{{ $.ScaleFactor }}.{{ .Name }};
{{- else }}
SELECT * FROM {{ if $.Iceberg }}iceberg{{ else }}hive{{ end }}.{{ $.UncompressedName }}.{{ .Name }};
{{- end }}

{{ end }}
{{- end }}

{{- range .InsertTables -}}
ANALYZE {{ .Name }};
{{ end -}}
