-server
-Xmx608G
-Xms608G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/var/lib/presto/data/var/log
-XX:+ExitOnOutOfMemoryError
-XX:+UseGCOverheadLimit
-XX:-UseBiasedLocking
-XX:ReservedCodeCacheSize=256M
-XX:+StartAttachListener
-Djdk.nio.maxCachedBufferSize=2000000
-Djdk.attach.allowAttachSelf=true
