-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.ssl=false
-Dcom.sun.management.jmxremote.port=10100
-Dcom.sun.management.jmxremote.rmi.port=10101
-javaagent:/usr/lib/presto/utils/jmx_prometheus_javaagent-0.20.0.jar=9404:/opt/presto-server/etc/jmx-exporter-config.yaml
